    <footer class="semantic-grid-section footer">
      <div class="center-block">
        <div class="address">
          <p class="street">1712 First Avenue</p>
          <p class="city">Vancouver, BC</p>
          <p class="phone">778-899-9899</p>
        </div>
        <img class="lighthouse-image" src="http://www.thelighthousechurch.co.uk/wp-content/uploads/2016/05/Lighthouse-Icon-single-Beam-Rev-Long.png" alt="lighthouse icon"/>
            
      </div>
      <p class="copyright">© 2017 Chance | Kang | Lilian</p>
    </footer>
  </body>
</html>