<nav class="semantic-grid-section navigation navbar-fixed-top">
    <ul class="nav nav-pills">
        <li role="presentation" ><a href="/menu">Menu</a></li>
        <li role="presentation"><a href="/orders">Order Review</a></li>
        <li role="presentation"><a href="#">Portal</a></li>
      </ul>
</nav>