<% include ./partials/_header%>

<main id="error">

  <div class="site-wrapper site-wrapper-inner">

    <div class="error-message">

      <h1><%=statNum%></h1>
      <p><%=message%></p>
      <a class="btn btn-lg error-btn" href="/menu">Menu</a>

    </div>
        
    <% include ./partials/_footer %>
  </div>
</main>