<% include ./partials/_header %>

<div class="site-wrapper">
  
  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="inner cover">
        <h1 class="cover-heading">Lighthouse Pub</h1>
        <p class="lead">Delicious food to fuel your coding advantures</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-default">Order Now</a>
        </p>
      </div>

    </div>

  </div>

</div>

<% include ./partials/_footer %>