<% include ./partials/_header%>

<main id="indexpage">

  <div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">

            <h1 class="cover-heading">Lighthouse Pub</h1>
            <p class="lead">Delicious food to fuel your coding advantures</p>
            <p class="lead">
              <a class="btn btn-lg">Order Now</a>
            </p>

          </div>

        </div>
        <% include ./partials/_footer %>
    </div>
   </div>
</main>
