<% include ./partials/_header %>

<main class="semantic-grid-section site-wrapper main menu container">

    <div id="menu_categories" class="col-xs-12 col-md-2 container">
      <h3>Categories</h3>
      <div class="panel panel-default">
        <ul class="panel-body">
          <!-- JQ gets data from db to put on -->
        </ul>
      </div>
    </div>

    <div id="menu_item" class="col-xs-12 col-md-7 container">
      <h3>Menu</h3>
      <section class="menu_items">
        <!-- JQ gets data from db to put on -->
      </section>
    </div>

    <div id="menu_order" class="col-xs-12 col-md-3 container">
      <h3>Order Detail</h3>
      <div  class=" panel panel-default">
        <article class="panel-body">
          <form action="/menu" method="POST">

            <section class='order_item'>
              <!-- JQ gets data from db to put on -->
            </section>

            <div class="panel panel-default">
              <p>GST: 5%</p>
              <p>PST: 7%</p>
              <p id="total" data-total=0>Total: $0.00</p>
              <input id="input_total" type="hidden" name="total">
            </div>

            <input type="text" name="phone" placeholder="Phone Number" pattern="^\d{3}-?\d{3}-?\d{4}$" required><br>
            <input type="text" name="fname" placeholder="First Name"><br>
            <input type="text" name="lname" placeholder="Last Name"><br>
            <input type="radio" name="pay_method" value="payonline">Pay Online<br>
            <input type="radio" name="pay_method" value="pickup" checked>Pay in person<br>
            <input type="submit" class="submit_total btn btn-default" value="Place my order!">
          </form>
        </article>
      </div>
    </div>
    <% include ./partials/_footer %>
</main>
