<% include ./partials/_header %>
<div class="orders_page">
  <div id='orders-background'>
    <div id='orders-main'>
      <div class='orders-main-upper'>
        <h1 class='orders-main-text'>YOUR ORDER AT LIGHTHOUSE PUB</h1>
        <div class='orders-details'>
          <div class='orders-items' style='list-style-type: none'>
            <ul>
              <%for (let i in result) { %>
              <li class='item-details'><%=result[i].quantity%> x <%=result[i].title%> <%=result[i].quantity * result[i].price%></li> 
              <%}%>
            </ul>
          </div>
        </div>
      </div>
      <div class='orders-main-lower'>
        <div class='cost-div'>
          <div class='cost-items'>
            <div class='cost-details1'>
              <div class='cost-details1-inner'>
                <span class='cost-subtotal'><b>Sub Total</b></span>
                <span class='cost-tax'>$3,600</span>
              </div>
            </div>
            <div class='cost-details2'>
              <div class='cost-details2-inner'>
                <span class='cost-total-text'><b>Total Cost</b></span>
                <span>$ <%=Number(result[0].total_price).toFixed(2)%></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ./partials/_footer %>