<% include ./partials/_header %>
   <div id='order_main'>
      <div class='order_main_header'>
        <p>Your order at <b>Lighthouse Pub - Gastown</b></p>
      </div>
      <br/>
      <!-- TODO:
      1. Title on orders page (e.g. 'Your Order at Lighthouse Pub')
      2. Style the Orders review page -->
      <div class='order-details'>
        <ul style='list-style-type: none'>

        </ul>
      </div>
    </div>
<% include ./partials/_footer %>