<% include ./partials/_header %>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Review Your Order</title>
  </head>
  <body>
    <main id='order_main'>
      This is to review the details of your order!
    </main>
  </body>
</html>
<% include ./partials/_footer %>