<% include ./partials/_header %>
<main class="semantic-grid-section site-wrapper main orders container">

  <div id="orders-main">
    <!-- Accept order -->
    <div>
      <h3>Accept Order</h3>
      <form action="/owner/accept" method="POST">
        <table>
          <tr>
            <td>
              <label for="orderId">Accept Order ID: </label>
            </td>
            <td>
              <input type="number" id="orderId" name="orderId" min="0" required>
            </td>
          </tr>
          <tr>
            <td>
              <label for="orderIdTime">Ready In minues: </label>
            </td>
            <td>
              <input type="number" id="orderIdTime" name="orderIdTime" min="0" required>
            </td>
          </tr>
        </table>
        <br>
        <input type="submit" value="Accept">
      </form>
    </div>
    <!-- add item -->
    <div>
      <form action="/owner/add" method="POST">
        <h3>Add item</h3>
        <table>
          <tr>
            <td>
              <label for="addType">Type:</label>
            </td>
            <td>
              <select name="addType" id="addType">
                <option value="APPETIZER">APPETIZER</option>
                <option value="BEVERAGES">BEVERAGES</option>
                <option value="BURGERS">BURGERS</option>
                <option value="DESSERTS">DESSERTS</option>
                <option value="PANCAKES">PANCAKES</option>
                <option value="VEGETARIAN">VEGETARIAN</option>
              </select>
            </td>
          </tr>
            <td>
              <label for="addTitle">Tile: </label>
            </td>
            <td>
              <input type="text" id="addTitle" name="addTitle" required>
            </td>
          <tr>
            <td>
              <label for="addDes">Description: </label>
            </td>
            <td>
              <input type="text" id="addDes" name="addDes">
            </td>
          </tr>
          <tr>
            <td>
              <label for="addPrice">Price: </label>
            </td>
            <td>
              <input step="0.01" type="number" id="addPrice" name="addPrice" min="0" required>
            </td>
          </tr>
        </table>
        <input type="hidden" name="addrestId" value='1'><br>
        <input type="submit" value="To Add">
      </form>
    </div>
    <!-- Delete item -->
    <div>
      <h3>Delete item</h3>
      <form action="/owner/delete" method="POST">
        <label for="itemId">Delete item ID: </label>
        <input type="number" id="itemId" name="itemId" min="0" required>
        <br><br>
        <input type="submit" value="To Delete!!!">
      </form>
    </div>

  </div>

<% include ./partials/_footer %>
</main>