.semantic-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(80px, auto) minmax(60px, auto) minmax(160px, auto) minmax(80px, auto);
  grid-row-gap: 1px;
  grid-column-gap: 1px;
  grid-template-areas: 'header' 'navigation' 'main' 'footer';
}

@media screen and (min-width: 476px) {
  .semantic-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, minmax(60px, auto)) minmax(180px, auto) minmax(0, auto);
    grid-template-areas: 'header header' 'navigation navigation' 'main main' 'footer footer';
  }
}

@media screen and (min-width: 786px) {
  .semantic-grid {
    grid-template-columns: 3fr;
    grid-template-rows: repeat(2, minmax(60px, auto)) minmax(300px, auto) minmax(0, auto);
    grid-template-areas: 'header header' 'navigation navigation' 'main main' 'footer footer';
  }
}

.semantic-grid-section {
  padding: 20px;
  text-align: center;
}

.navigation {
  grid-area: navigation;
  background: #123456;
  height: 60px;
}

.navigation .nav {
  margin-top: -10px;
}

.navigation .nav li:hover {
  background-color: blue;
}

.navigation .nav li:hover a {
  color: black;
}

.navigation .nav a {
  color: lightgray;
}

.header {
  grid-area: header;
  height: 55px;
  background: #234567;
  margin-top: 60px;
}

.header div {
  color: #e7e7e7;
  font-family: 'Raleway', sans-serif;
  font-size: 200%;
  margin: -11px;
}

.main {
  grid-area: main;
}

.footer {
  display: flex;
  justify-content: center;
  grid-area: footer;
  height: 70px;
  background: #456789;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 7px;
  margin: auto;
}

.footer .lighthouse-image {
  margin-left: 5px;
  height: 57px;
}

.footer .address {
  text-align: right;
  margin-top: -5px;
  color: black;
  text-shadow: none;
}

.footer .address p {
  margin: 1px;
  color: #e7e7e7;
}
