//@import url('https://fonts.googleapis.com/css?family=Raleway');

.semantic-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:
  minmax(80px, auto)
  minmax(60px, auto)
  minmax(160px, auto)
  // minmax(100px, auto)
  minmax(80px, auto);
  grid-row-gap: 1px;
  grid-column-gap: 1px;
  grid-template-areas:
  'header'
  'navigation'
  'main'
  'footer';
}


@media screen and (min-width: 476px) {
.semantic-grid {
  grid-template-columns: 1fr;
  grid-template-rows:
    repeat(2 , minmax(60px, auto))
    minmax(180px, auto)
    minmax(0, auto);
  grid-template-areas:
  'header header'
  'navigation navigation'
  'main main'
  'footer footer';}
}

@media screen and (min-width: 786px) {
.semantic-grid {
  grid-template-columns: 3fr;
  grid-template-rows:
    repeat(2 , minmax(60px, auto))
    minmax(300px, auto)
    minmax(0, auto);
  grid-template-areas:
  'header header'
  'navigation navigation'
  'main main'
  'footer footer';}
}

.semantic-grid-section {
  padding: 20px;
  text-align: center;
}

.navigation {
  grid-area: navigation;
  background: rgb(18,52,86);
}

.header {
  grid-area: header;
  height: 55px;
  background: rgb(35,69,103);
  margin-top: 70px;

  div {
    color: rgb(231, 231, 231);
    font-family: 'Raleway', sans-serif;
    font-size: 200%;
    margin: -11px;
  }
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  background: rgb(69,103,137);
  position: absolute;
  bottom:0;
  width: 100%;
  left: 0;
}