.semantic-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:
  minmax(80px, auto)
  minmax(60px, auto)
  minmax(160px, auto)
  // minmax(100px, auto)
  minmax(80px, auto);
  grid-row-gap: 1px;
  grid-column-gap: 1px;
  grid-template-areas:
  'header'
  'navigation'
  'main'
  'footer';
}


@media screen and (min-width: 476px) {
.semantic-grid {
  grid-template-columns: 1fr;
  grid-template-rows:
    repeat(2 , minmax(60px, auto))
    minmax(180px, auto)
    minmax(0, auto);
  grid-template-areas:
  'header header'
  'navigation navigation'
  'main main'
  'footer footer';}
}

@media screen and (min-width: 786px) {
.semantic-grid {
  grid-template-columns: 3fr;
  grid-template-rows:
    repeat(2 , minmax(60px, auto))
    minmax(300px, auto)
    minmax(0, auto);
  grid-template-areas:
  'header header'
  'navigation navigation'
  'main main'
  'footer footer';}
}

.semantic-grid-section {
  padding: 20px;
  text-align: center;
}

.header {
  background: #AF2;
  grid-area: header;
}

.navigation {
  background: #DF3;
  grid-area: navigation;
}

.main {
  background: #BF5;
  grid-area: main;
}

.aside-1 {
  background: #F84;
  grid-area: aside-1;
}

.footer {
  background: #FF2;
  grid-area: footer;
  margin: 0;
}