.menu{
  background: aliceblue;
  color: black;

  hr{
    border: 1px solid red;
  }
}

#menu_categories{
  ul{
    text-align: left;
  }
  li{
    margin: 2em;
    font-size: 120%;
  }
}

#menu_item{
  overflow: auto;

  margin-bottom: 2em;
  font-size: 150%;

  text-align: left;
  h3{
    text-align: center;
  }

  img{
    float: left;
    margin-right: 2em;
  }

  header{
    color: red;
  }

  .description{
    width: 100%;
    word-wrap: break-word;
  }

  .price{
    float: left;
  }

  button{
    float: right;
  }
}

#menu_order{
  form{
    padding: 10px;
    input{
      margin: 5px;
    }
  }
}