.orders {
  background-image: url('./assets/background_image.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: local;
  background-size: cover;
}

#orders-backgroud {
  background-color: aliceblue;
}

#orders-main {
  background-color: white;
  margin-top: -20px;
  height: 100%;
  margin-left: 15%;
  margin-right: 15%;
  color: rgb(18,52,86);
  padding: 10px;
  text-align: center;
  opacity: 0.88;

}
table {
  border-collapse: collapse;
  width: 75%;
  color: black;
  margin: auto;
  td {
    padding: 8px;
    text-align: center;
  }
  .orders-quantity {
    text-align: right;
  }
  .orders-calcs {
    text-align: right;
  }
  .orders-name {
    text-align: left;
  }
  .orders-total {
    text-align: right;
  }
}
.order-breakdown {
  border-bottom: 1px solid black;
}
