.orders_page{
  #orders-backgroud {
    background-color: aliceblue;
  }
  #orders-main {
    background-color: aliceblue;
  }
  .orders-main-upper {
    background-color: white;
    border: 1px solis #b3d9ff;
    border-bottom: 3px solid darkblue;
    margin-left: 18%;
    margin-right: 18%;
  }
  .orders-main-text {
    padding-top: 3%;
    color: navy;
    text-align: center;
  }
  .item-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
    font-family: arial;
    font-size: 1.5em;
  }

  .orders-items {
    display: inline-block;
    justify-content: space-around;
  }
  .orders-main-lower {
    background-color: white;
    border: 1px solid white;


    margin-left: 18%;
    margin-right: 18%;

  }
  .cost-details1 {
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    font-family: arial;
    font-size: 1.5em;
  }
  .cost-details1-inner {
    display: flex;
    justify-content: space-around;
  }
  .cost-details2 {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
    font-family: arial;
    font-size: 1.5em;
  }
  .cost-details2-inner {
    display: flex;
    justify-content: space-around;
  }
}
